

  <div class="container">

    <h1>Songs</h1>

    <form onSubmit="submitNewSong(); return false">
      <input type="text" id="new-song" placeholder="Add name of song">
    </form>

    <br>

    <% @artist.songs.each do |song| %>
      <li class="songs">
        <input id="song-<%=song.id%>" type="checkbox">
        <label for="song-<%=song.id%>"><%= song.name %></label>
      </li>
      <!-- <p class="deleten"><%= link_to "[Destroy Song]", [@artist, song], method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
    <% end %>


    <br>

    <div class="footer">
      <a href="#" id="remove-songs">Remove</a>
    </div>










    <!-- <%= link_to "[Add Song]", new_artist_song_path(@artist) %> -->
  </div>
















<br>
<br>
<br>

<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
