

  <div class="container">

    <h1>Songs</h1>

    <!-- <form onSubmit="submitNewSong(); return false">
      <input type="text" id="new-song" placeholder="Add name of song">
    </form> -->

    <%= form_for [@artist, @artist.songs.new] do |f| %>

    <div class="panel panel-primary">
        <div class="panel-body">
          <div class="form-group" id="new-song">
            <label>Name</label>
            <%= f.text_field :name, placeholder: "Songtitle", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
        </div>
    </div>

    <% end %>

    <br>


    <% @artist.songs.each do |song| %>
      <li class="songs">
        <input id="song-<%=song.id%>" type="checkbox" onChange="removeSong.bind(this)();">
        <label for="song-<%=song.id%>"><%= song.name %></label>

        <a href="#" id="delete-song"><%= button_to "Delete Song", artist_path, remote: true,
          method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %></a>
        <br>
        <!-- <a href="#" id="remove-song">delete</a> -->
      </li>
      <!-- <p class="deleten"><%= link_to "[Destroy Song]", [@artist, song], method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
    <% end %>
    <br>

    <br>

    <div class="footer">
      <a href="#" id="remove-songs">Remove All Songs</a>
    </div>










    <!-- <%= link_to "[Add Song]", new_artist_song_path(@artist) %> -->
  </div>









<br>
<br>
<br>
