
<div>

  <h1>Songs:</h1>

    <% @artist.songs.each do |song| %>
      <p><%= song.name %></p>
      <p class="deleten"><%= link_to "[Destroy Song]", [@artist, song], method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>

    <%= link_to "[Add Song]", new_artist_song_path(@artist) %>

</div>


<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
<% end %>


<div class="form-group">
  <span class="btn btn-default">
    Upload Photos
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </span>
</div>
