<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurifly1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<br>
<br>
<hr>
<%= link_to "[Back to All Artists]", root_path %>
<hr>
